{% extends 'base.html' %}
{% load static %}


{% block title %}Add new keyword group{% endblock %}


{% block stylesheets %}
    {{ block.super }}
{% endblock %}


{% block content %}
    <div class="right_col" role="main">
        <div class="">

            <!-- Page title -->
            <div class="page-title">
                <!-- Left part -->
                <div class="title_left">
                    <h3>{{ title }}</h3>
                    <br>
                </div>
            </div>

            <div class="clearfix"></div>

            <form action="." method="post">
                {% csrf_token %}

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3"></div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
                        <!-- Keyword group name -->
                        <div class="form-group">
                            <label for="{{ form.kwg_name.id_for_label }}">
                                {{ form.kwg_name.label }}
                            </label>
                            {{ form.kwg_name }}
                        </div>

                        <!-- Keywords -->
                        <div class="form-group">
                            <label for="{{ form.kwg_keywords.if_for_label }}">
                                {{ form.kwg_keywords.label }}
                            </label>
                            {{ form.kwg_keywords }}
                        </div>
                        <div id="warning"></div>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            {% if edit_mode %}
                                <button id="save_button" class="btn btn-primary" type="submit">Save</button>
                                <button class="btn btn-default" type="button" onclick="window.location.href='/manage/'">Cancel
                                </button>
                                {% if user == kwg.project.client.owner or user.is_staff or user.id in kwg.project.client.shared_edit %}
                                    <button class="btn btn-danger pull-right" type="button" id="{{ kwg.id }}_delete">
                                        Delete
                                    </button>
                                {% endif %}
                                <button class="btn {% if kwg.is_active %}btn-danger{% else %}btn-success{% endif %} pull-right" type="button" id="{{ kwg.id }}{% if kwg.is_active %}_deactivate{% else %}_activate{% endif %}">
                                    {% if kwg.is_active %}
                                        Deactivate
                                    {% else %}
                                        Activate
                                    {% endif %}
                                </button>
                            {% else %}
                                <button id="save_button" class="btn btn-primary" type="submit">Create</button>
                                <button class="btn btn-default" type="button" onclick="window.location.href='/manage/'">Cancel
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ block.super }}

    <script>
        let initialKeywordNumber = $('#kwg_keywords')[0].value.trim().length
                                   ? $('#kwg_keywords')[0].value.trim().split('\n').length
                                   : [].length;

        {% if user == kwg.project.client.owner or user.is_staff %}
            $('#{{ kwg.id }}_delete').click(function () {
                if (confirm("You are going to delete a '{{ kwg.name }}' keyword group. Are you sure?")) {
                    $.ajax({
                        type: 'POST',
                        url: '/manage/admin_delete_object/kwg/{{ kwg.id }}/',
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            alert(data['ok']);
                            window.location.href = '/manage/';
                        },
                        error: function (data) {
                            alert(data['error']);
                        }
                    });
                }
            });

            function activation_buttons() {
                // Activate kwg
                $('#{{ kwg.id }}_activate').off('click');
                $('#{{ kwg.id }}_activate').click(function () {
                    if (confirm("You are going to activate a '{{ kwg.name }}' keyword group. Are you sure?")) {
                        $.ajax({
                            type: 'POST',
                            url: '/manage/admin_edit_active/kwg/{{ kwg.id }}/',
                            data: {
                                active: true,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function (data) {
                                alert(data['ok']);
                                $('#{{ kwg.id }}_activate').removeClass('btn-success').addClass('btn-danger').html('Deactivate').attr('id', '{{ kwg.id }}_deactivate');
                                activation_buttons()
                            },
                            error: function (data) {
                                alert(data.responseJSON['error']);
                            }
                        });
                    }
                });

                // Deactivate kwg
                $('#{{ kwg.id }}_deactivate').off('click');
                $('#{{ kwg.id }}_deactivate').click(function () {
                    if (confirm("You are going to deactivate a '{{ kwg.name }}' keyword group. Are you sure?")) {
                        $.ajax({
                            type: 'POST',
                            url: '/manage/admin_edit_active/kwg/{{ kwg.id }}/',
                            data: {
                                active: false,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function (data) {
                                alert(data['ok']);
                                $('#{{ kwg.id }}_deactivate').removeClass('btn-danger').addClass('btn-success').html('Activate').attr('id', '{{ kwg.id }}_activate');
                                activation_buttons()
                            },
                            error: function (data) {
                                alert(data.responseJSON['error']);
                            }
                        });
                    }
                });
            }

        {% endif %}

        activation_buttons();
        beautify_textareas();



    </script>
{% endblock %}