{% extends 'base.html' %}
{% load static %}


{% block title %} - '{{ kwg.name }}' keyword group{% endblock %}


{% block stylesheets %}
    {{ block.super }}
    <style>
        .table {
            margin-bottom: 0px;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="right_col" role="main">
        <div class="">

            <!-- Page title -->
            <div class="page-title">
                <!-- Left part -->
                <div class="title_left">
                    <h3>{{ kwg.name }}</h3>
                    <br>
                </div>

                <!-- Right part -->
                <div class="title_right">
                    <div class="pull-right">
                        <!-- Buttons -->
                        <div class="text-right">
                            {% include 'serpent/includes/navigator.html' with back_home=True %}
                            {% if user == kwg.project.client.owner or user.is_staff or user in kwg.project.client.shares_edit.all %}
                                <a href="edit/" class="btn btn-default"><i class="fas fa-cog"></i> Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            {#                <h2>Project: {{ kwg.project.name }}</h2>#}
            {#                <h2>Client: {{ kwg.project.client.name }}</h2>#}

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <!-- Panel -->
                    <div class="x_panel">
                        <!-- Content -->
                        <div class="x_content">

                            <div class="row">
                                {% if kwg.keywords.all %}
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Keyword</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for kw in kwg.keywords.all %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ kw.keyword }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    No keywords.
                                {% endif %}
                            </div>

                        </div> <!-- end of x_content -->
                    </div> <!-- end of x_panel div -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ block.super }}
    <script>

        function changeInputClientName() {
            $('#switch-to-input-new-client').fadeOut(500).then(
                setTimeout(function () {
                    $('#new_client_name').fadeIn()
                }, 500)
            )
        }

        beautify_textareas()
    </script>
{% endblock %}