{% extends 'base.html' %}
{% load static %}


{% block title %}Admin Page{% endblock %}


{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css"/>
    <style type="text/css">
        .multiselect, .multiselect-container, .multiselect-native-select .btn-group {
            width: 100% !important;
        }

        .multiselect-item .input-group {
            width: 96% !important;
        }

        .multiselect-item input {
            float: left !important;
            display: block !important;
            width: 85% !important;
        }

        .multiselect-item .input-group-append {
            float: left !important;
            display: block !important;
        }

        .panel_toolbox {
            width: 20px !important;
            min-width: 20px !important;
            margin-left: 7px !important;
        }

        .config_modal {
            margin-top: 5px;
        }

        .x_title a, .x_title ul {
            float: right !important;
        }

        .kwg-list a, .kwg-btn {
            padding: 0 !important;
            margin: 0 !important;
        }

        .square-color {
            content: "";
            display: inline-block;
            width: 13px;
            height: 13px;
            margin-right: 2px;
        }

        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 33px;
            height: 21px;
            float: right;
        }

        .switch.margin {
            margin: 5px 10px;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #cc0400;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 13px;
            width: 13px;
            left: 3px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #19f301;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #19f301;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(13px);
            -ms-transform: translateX(13px);
            transform: translateX(13px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 17px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

    </style>
{% endblock %}


{% block content %}

    <div class="right_col" role="main">
        <div class="">

            <!-- User profile info -->
            <div class="row col-xs-12" style="display: inline-block;">
                <div class="tile_count">
                    <div class="col-xs-12 col-md-4  tile_stats_count">
                        <span class="count_top">Clients limit</span>
                        <div class="count">{{ user_profile.client_limit }}</div>
                    </div>
                    <div class="col-xs-12 col-md-4  tile_stats_count">
                        <span class="count_top">Clients usage</span>
                        <div class="count">{{ user_profile.client_active_usage }} / {{ user_profile.client_usage }} active</div>
                    </div>
                    <div class="col-xs-12 col-md-4  tile_stats_count">
                        <span class="count_top">Available to create</span>
                        <div id="available_client_number" class="count"></div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <!-- Page title -->
            <div class="page-title">
                <!-- Left part -->
                <div class="title_left">
                    <h3>Clients & Projects</h3>
                </div>

                <!-- Right part -->
                <div class="title_right">
                    <div class="pull-right">

                        <!-- Button group -->
                        <a class="btn btn-primary" href="project/add/">New project</a>
                        <a class="btn btn-primary" href="geo/add/">New geo</a>

                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <!-- Modal: owner staff -->
            <div class="modal fade modal-owner-staff" tabindex="-1" role="dialog"
                 aria-hidden="true"
                 style="display: none;">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">
                                Client settings
                            </h4>
                        </div>

                        <div class="modal-body">

                                <div class="col-xs-offset-0 col-xs-11">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            If you want to share this client with other manager(s), select
                                            username(s) and press "Share" button.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- Shares -->
                                        <h4>Without edit mode</h4>
                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                            <select class="custom-select"
                                                    id="users_to_share"
                                                    multiple="multiple"
                                            ></select>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <button type="button"
                                                    class="btn btn-primary"
                                                    id="users_to_share_submit"
                                            >
                                                Share
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- Shares with edit -->
                                        <h4>With edit mode</h4>
                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                            <select class="custom-select"
                                                    id="users_to_share_edit"
                                                    multiple="multiple"
                                            ></select>
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <button type="button"
                                                    class="btn btn-primary"
                                                    id="users_to_share_edit_submit"
                                            >
                                                Share
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            <div class="clearfix"></div>

                        </div>

                        <div class="modal-footer"></div>  <!-- JS works here -->
                    </div>
                </div>
            </div>

            <!-- Modal: shared -->
            <div class="modal fade modal-shared" tabindex="-1" role="dialog"
                 aria-hidden="true"
                 style="display: none;">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">
                                Client info
                            </h4>
                        </div>

                        <div class="modal-body">

                            <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left"></h3>
                            <div class="clearfix"></div>

                        </div>

                        <div class="modal-footer"></div>  <!-- JS works here -->
                    </div>
                </div>
            </div>

            <!-- Clients and Projects Cards -->
            {% for client in data %}

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <!-- Panel -->
                        <div class="x_panel">
                            <!-- Title -->
                            <div class="x_title">
                                <!-- Client name and it's status -->
                                <h2 style="vertical-align: middle;">
                                    <b>{{ client.name }}</b> {% if user.id in client.shares_edit or user.id in client.shares %}<span class="badge" style="color: white; font-weight: 400;">shared</span>{% endif %}
                                </h2>


                                <!-- Edit, settings -->

                                <!-- Toggle client card -->
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fas fa-chevron-up"></i></a></li>
                                </ul>
                                <a class="config_modal"
                                   data-toggle="modal"
                                   data-target="{% if user.id == client.owner or user.is_staff %}modal-owner-staff{% else %}modal-shared{% endif %}"
                                   data-client-id="{{ client.id }}"
                                   data-client-name="{{ client.name }}"
                                   data-owner-id="{{ client.owner.id }}"
                                   data-owner-name="{{ client.owner_name }}"
                                   data-is-active-client="{% if client.is_active %}true{% else %}false{% endif %}"
                                   data-is-owner-or-staff="{% if user.id == client.owner or user.is_staff %}true{% else %}false{% endif %}"
                                   data-is-share-edit="{% if user.id in client.shares_edit %}true{% else %}false{% endif %}"
                                   role="button"
                                >
                                    <i class="fa fa-wrench"></i>
                                </a>

                                {% if user.id == client.owner or user.is_staff or user.id in client.shares_edit %}
                                    <label class="switch switch-activeness margin">
                                        <input id="c_{{ client.id }}"
                                               data-object-type="client"
                                               data-object-id="{{ client.id }}"
                                               data-object-name="{{ client.name }}"
                                               data-switch-to="{% if client.is_active %}false{% else %}true{% endif %}"
                                               type="checkbox"
                                               {% if client.is_active %}checked{% endif %}
                                               {% if user.id != client.owner and not user.is_staff and user.id not in client.shares_edit %}disabled{% endif %}
                                        >
                                        <span class="slider round switchStatusToggle"></span>
                                    </label>
                                {% endif %}
                                <div class="clearfix"></div>

                                Active / Total keywords / Active limit:
                                {{ client.total_active_kw }} / {{ client.total_kw }} / {{ client.kw_limit }}<br>

                                {% if client.total_active_kw == client.kw_limit %}
                                    <p style="color: red;">
                                        <i class="fas fa-info-circle"></i>
                                        You have reached the keyword limit.
                                    </p>
                                {% endif %}
                            </div>

                            <div class="clearfix"></div>

                            <!-- Content -->
                            <div class="x_content">
                                <br>
                                <!-- Client's projects -->
                                <div class="row">

                                    {% for project in client.projects %}
                                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                                            <div class="panel panel-default">

                                                <!-- Panel heading -->
                                                <div class="panel-heading">
                                                    <h2 style="vertical-align: middle;">
                                                        {{ project.name }}
                                                        {% if user.id == client.owner or user.is_staff or user.id in client.shares_edit %}
                                                            <label class="switch switch-activeness">
                                                                <input data-object-type="project"
                                                                       data-object-id="{{ project.id }}"
                                                                       data-object-name="{{ project.name }}"
                                                                       data-switch-to="{% if project.is_active %}false{% else %}true{% endif %}"
                                                                       type="checkbox"
                                                                       id="c_{{ client.id }}_p_{{ project.id }}"
                                                                       {% if project.is_active %}checked{% endif %}
                                                                       {% if user.id != client.owner and not user.is_staff and user.id not in client.shares_edit %}disabled{% endif %}
                                                                >
                                                                <span class="slider round switchStatusToggle"></span>
                                                            </label>
                                                        {% endif %}
                                                    </h2>
                                                    <small>Screen: {% if project.screen == 'B' %}both{% else %}{{ project.screen }}{% endif %}</small>
                                                    <small class="pull-right">Owner: {{ client.owner_name }}</small>
                                                    <div>
                                                        Active / Total keywords:
                                                        {{ project.total_active_kw }} / {{ project.total_kw }}
                                                    </div>
                                                </div>
                                                <!-- End of Panel heading -->

                                                <!-- Panel body -->
                                                <div class="panel-body">
                                                    <div class="col">
                                                        <!-- Keyword group list -->
                                                        <div class="row">
                                                            <div class="panel-body">
                                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 kwg-list">
                                                                    {% if project.kwgs %}
                                                                        <a class="panel-heading collapsed" role="tablist"
                                                                           id="headingOne{{ project.id }}"
                                                                           data-toggle="collapse" data-parent="#accordion"
                                                                           href="#collapseOne{{ project.id }}"
                                                                           aria-expanded="false"
                                                                           aria-controls="collapseOne{{ project.id }}"
                                                                           onclick="changeTextInElementById({{ project.id }})">
                                                                            Show keyword group list
                                                                            ({{ project.kwgs_count }})
                                                                        </a>
                                                                        <div id="collapseOne{{ project.id }}"
                                                                             class="panel-collapse collapse" role="tabpanel"
                                                                             aria-labelledby="headingOne{{ project.id }}"
                                                                             aria-expanded="false" style="height: 0px;">
                                                                            <div class="panel-body">
                                                                                {% for kwg in project.kwgs %}
                                                                                    <div class="row align-items-center">
                                                                                        <div class="col-xs-9"
                                                                                             style="font-size: medium">
                                                                                            <a href="project/{{ project.id }}/kwg/{{ kwg.id }}/">{{ kwg.name }}</a>
                                                                                            <br>
                                                                                            <small>{{ kwg.kw_count }}
                                                                                                keywords</small>
                                                                                        </div>
                                                                                        <div class="col-xs-2 kwg-btn">
                                                                                            {% if user.id == client.owner or user.is_staff or user.id in client.shares_edit %}
                                                                                                <label class="switch switch-activeness">
                                                                                                    <input data-object-type="kwg"
                                                                                                           data-object-id="{{ kwg.id }}"
                                                                                                           data-object-name="{{ kwg.name }}"
                                                                                                           data-switch-to="{% if kwg.is_active %}false{% else %}true{% endif %}"
                                                                                                           type="checkbox"
                                                                                                           id="c_{{ client.id }}_p_{{ project.id }}_kwg_{{ kwg.id }}"
                                                                                                           {% if kwg.is_active %}checked{% endif %}
                                                                                                           {% if user.id != client.owner and not user.is_staff and user.id not in client.shares_edit %}disabled{% endif %}
                                                                                                    >
                                                                                                    <span class="slider round switchStatusToggle"></span>
                                                                                                </label>
                                                                                            {% endif %}
                                                                                        </div>
                                                                                        <div class="col-xs-1 kwg-btn">
                                                                                            {% if user.id == client.owner or user.is_staff or user.id in client.shares_edit %}
                                                                                                <a href="project/{{ project.id }}/kwg/{{ kwg.id }}/edit/"
                                                                                                   class="btn pull-right">
                                                                                                    <i class="fas fa-wrench"></i>
                                                                                                </a>
                                                                                            {% endif %}
                                                                                        </div>
                                                                                    </div>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                    {% else %}
                                                                            No keyword groups
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                        {% if user.id == client.owner or user.is_staff or user.id in client.shares_edit %}
                                                            <div class="x_content">
                                                                <!-- New button with dropdown: kwg and dg -->
                                                                <a
                                                                    class="btn btn-primary"
                                                                    type="button"
                                                                    href="project/{{ project.id }}/kwg/add/"
                                                                 >
                                                                    New keyword group
                                                                </a>

                                                                <!-- Edit project -->
                                                                <a href="project/{{ project.id }}/edit/"
                                                                   class="btn btn-default pull-right">
                                                                    Edit
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if forloop.counter|divisibleby:3 %}
                                            </div>
                                            <div class="row">
                                        {% endif %}
                                    {% empty %}
                                        No projects.
                                    {% endfor %}

                                </div>

                            </div> <!-- end of x_content -->
                        </div> <!-- end of x_panel div -->

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
    <script>

        // Count available client number
        $("#available_client_number").html(
            `${ +{{ user_profile.client_limit }} - +{{ user_profile.client_active_usage }} } clients`
        );

        // Share button
        function getSelectValues(select) {
            var result = [];
            var options = select && select.options;
            var opt;

            for (var i = 0, iLen = options.length; i < iLen; i++) {
                opt = options[i];

                if (opt.selected) {
                    result.push(opt.value || opt.text);
                }
            }
            return result;
        }

        $('.config_modal').on('click', function(e) {
            e.preventDefault();
            const dataset = e.currentTarget.dataset;
            const clientId = dataset.clientId;
            const clientName = dataset.clientName;
            const isOwnerOrStaff = JSON.parse(dataset.isOwnerOrStaff);
            const isActiveClient = JSON.parse(dataset.isActiveClient);
            const ownerId = dataset.ownerId;
            const ownerName = dataset.ownerName;
            const isShareEdit = JSON.parse(dataset.isShareEdit);

            // Modal body
            if (isOwnerOrStaff) {
                const usersToShareDataset = $('#users_to_share')[0].dataset;
                usersToShareDataset.clientId = clientId;
                usersToShareDataset.ownerId = ownerId;
                usersToShareDataset.ownerName = ownerName;
                usersToShareDataset.isOwnerOrStaff = isOwnerOrStaff;

                const usersToShareEditDataset = $('#users_to_share_edit')[0].dataset;
                usersToShareEditDataset.clientId = clientId;
                usersToShareEditDataset.ownerId = ownerId;
                usersToShareEditDataset.ownerName = ownerName;
                usersToShareEditDataset.isOwnerOrStaff = isOwnerOrStaff;
            } else {
                $('.modal-shared h3').html(`Shared by: ${ownerName}`);
            }

            // Modal footer
            const statusSwitcher = `
                <button type="button"
                        class="btn ${isActiveClient ? 'btn-danger' : 'btn-success'} switchStatusBtn"
                        data-object-type="client"
                        data-object-id="${clientId}"
                        data-object-name="${clientName}"
                        data-switch-to="${!isActiveClient}"
                >
                    ${isActiveClient ? 'Deactivate' : 'Activate'}
                </button>
            `;
            const deleteButton = `
                <button type="button"
                        class="btn btn-danger deleteBtn"
                        data-object-type="client"
                        data-object-id="${clientId}"
                        data-object-name="${clientName}"
                >
                    Delete
                </button>
            `
            $('div[class="modal-footer"]').html(
                `
<div class="row">
<div class="col-xs-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    ${(isOwnerOrStaff || isShareEdit) ? statusSwitcher : ""}
                    ${isOwnerOrStaff ? deleteButton : ""}
</div>
</div>
                `
            );

            // Activators
            activateButtons();
            if (isOwnerOrStaff) {
                generateMultiselects();
                $('.modal-owner-staff').modal('show');
            } else {
                $('.modal-shared').modal('show');
            }
        });

        function activateButtons() {

            $('.switchStatusToggle').click(function(e) {
                e.preventDefault();
                const input = e.target.previousElementSibling;
                if (input.disabled) {
                    return false;
                }
                const dataset = input.dataset;
                const objectType = dataset.objectType;
                const objectId = dataset.objectId;
                const objectName = dataset.objectName;
                const switchTo = JSON.parse(dataset.switchTo);
                if (confirm(
                    `${switchTo ? "Activate" : "Deactivate"} "${objectName}" ${objectType === "kwg" ? "keyword group" : objectType}?`
                )) {
                    $.ajax({
                        type: 'POST',
                        url: `/manage/admin_edit_active/${objectType}/${objectId}/`,
                        data: {
                            active: switchTo,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (data) {
                            input.setAttribute('data-switch-to', switchTo ? "false": "true")
                            input.checked = switchTo;

                            setTimeout(function() {
                                new PNotify({
                                    title: "Success",
                                    text: data['ok'],
                                    type: "success",
                                    styling: 'bootstrap3',
                                    shadow: true,
                                    delay: 3000
                                });
                            }, 0);
                        },
                        error: function (data) {
                            new PNotify({
                                    title: data.statusText,
                                    text: data.responseText,
                                    type: "error",
                                    styling: 'bootstrap3',
                                    shadow: true,
                                    delay: 3000
                                });
                        }
                    });
                }
            });

            $('.switchStatusBtn').click(function(e) {
                e.preventDefault();
                const dataset = e.target.dataset;
                const objectType = dataset.objectType;
                const objectId = dataset.objectId;
                const objectName = dataset.objectName;
                const switchTo = JSON.parse(dataset.switchTo);
                if (confirm(
                    `${switchTo ? "Activate" : "Deactivate"} "${objectName}" ${objectType}?`
                )) {
                    $.ajax({
                        type: 'POST',
                        url: `/manage/admin_edit_active/${objectType}/${objectId}/`,
                        data: {
                            active: switchTo,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (data) {
                            e.target.setAttribute('data-switch-to', switchTo ? "false": "true")
                            e.target.className = `btn ${switchTo ? "btn-danger" : "btn-success"}`;
                            e.target.innerText = switchTo ? "Deactivate" : "Activate";
                            $(`#${objectType}_${objectId}`).click();
                            setTimeout(function() {
                                new PNotify({
                                    title: "Success",
                                    text: data['ok'],
                                    type: "success",
                                    styling: 'bootstrap3',
                                    shadow: true,
                                    delay: 3000
                                });
                            }, 0);
                        },
                        error: function (data) {
                            new PNotify({
                                    title: data.statusText,
                                    text: data.responseText,
                                    type: "error",
                                    styling: 'bootstrap3',
                                    shadow: true,
                                    delay: 3000
                                });
                        }
                    });
                }
            });

            $('.deleteBtn').click(function(e) {
                e.preventDefault();
                const dataset = e.target.dataset;
                const objectType = dataset.objectType;
                const objectName = dataset.objectName;
                const objectId = dataset.objectId;
                if (confirm(`You are going to delete the "${objectName}" ${objectType}. Are you sure?`)) {
                    $.ajax({
                        type: 'POST',
                        url: `/manage/admin_delete_object/${objectType}/${objectId}/`,
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            new PNotify({
                                    title: "Success",
                                    text: data['ok'],
                                    type: "success",
                                    styling: 'bootstrap3',
                                    shadow: true,
                                    delay: 3000
                                });
                            window.location.reload();
                        },
                        error: function (data) {
                            alert(data['error']);
                        }
                    });
                }
            });

        }

        function generateMultiselects() {
            // WITHOUT EDIT MODE
            $('#users_to_share').multiselect({
                nonSelectedText: 'Select a username...',
                enableFiltering: true,
                filterBehavior: 'text',
                enableCaseInsensitiveFiltering: true,
                templates: {
                    li: '<li><a href="javascript:void(0);"><label class="pl-2"></label></a></li>',
                    filter: '<li class="multiselect-item filter"><div class="input-group m-0 mb-1"><input class="form-control multiselect-search" type="text"></div></li>',
                    filterClearBtn: '<div class="input-group-append"><button class="btn btn btn-outline-secondary multiselect-clear-filter" type="button"><i class="fa fa-close"></i></button></div>'
                },
            });
            const dataset = $('#users_to_share')[0].dataset;
            $('#users_to_share').multiselect('dataprovider', sharedUsers[dataset.clientId]["shares"]);

            // Submit button
            let ok_data_for_client = getSelectValues($('#users_to_share')[0]);
            $('#users_to_share_submit').click(function () {
                let users_list = getSelectValues($('#users_to_share')[0]);
                $.ajax({
                    type: 'POST',
                    url: `admin_edit_shares/${dataset.clientId}/`,
                    data: {
                        users: users_list.join(),
                        editable: false,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        new PNotify({
                                title: "Success",
                                text: data['ok'],
                                type: "success",
                                styling: 'bootstrap3',
                                shadow: true,
                                delay: 3000
                            });
                        ok_data_for_client = users_list;
                        for (const share of sharedUsers[dataset.clientId].shares) {
                            share.selected = users_list.includes(share.value);
                        }
                    },
                    error: function (data) {
                        new PNotify({
                                title: data.statusText,
                                text: data.responseText,
                                type: "error",
                                styling: 'bootstrap3',
                                shadow: true,
                                delay: 3000
                            });
                        $('#users_to_share option:selected').each(function () {
                            $(this).prop('selected', false);
                        });
                        $('#users_to_share option').each(function () {
                            if (ok_data_for_client.indexOf($(this).prop('value')) >= 0) {
                                $(this).prop('selected', true);
                            }
                        });
                        $('#users_to_share').multiselect('refresh');
                    }
                });
            });

            // WITH EDIT MODE
            $('#users_to_share_edit').multiselect({
                nonSelectedText: 'Select a username...',
                enableFiltering: true,
                filterBehavior: 'text',
                enableCaseInsensitiveFiltering: true,
                templates: {
                    li: '<li><a href="javascript:void(0);"><label class="pl-2"></label></a></li>',
                    filter: '<li class="multiselect-item filter"><div class="input-group m-0 mb-1"><input class="form-control multiselect-search" type="text"></div></li>',
                    filterClearBtn: '<div class="input-group-append"><button class="btn btn btn-outline-secondary multiselect-clear-filter" type="button"><i class="fa fa-close"></i></button></div>'
                },
            });
            const dataset_edit = $('#users_to_share_edit')[0].dataset;
            $('#users_to_share_edit').multiselect('dataprovider', sharedUsers[dataset.clientId]["shares_edit"]);

            let ok_data_for_client_edit = getSelectValues($('#users_to_share_edit')[0]);
            $('#users_to_share_edit_submit').click(function () {
                let users_list = getSelectValues($('#users_to_share_edit')[0]);
                $.ajax({
                    type: 'POST',
                    url: `admin_edit_shares/${dataset_edit.clientId}/`,
                    data: {
                        users: users_list.join(),
                        editable: true,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        new PNotify({
                                title: "Success",
                                text: data['ok'],
                                type: "success",
                                styling: 'bootstrap3',
                                shadow: true,
                                delay: 3000
                            });
                        ok_data_for_client_edit = users_list;
                        for (const share of sharedUsers[dataset_edit.clientId].shares_edit) {
                            share.selected = users_list.includes(share.value);
                        }
                    },
                    error: function (data) {
                        new PNotify({
                                title: data.statusText,
                                text: data.responseText,
                                type: "error",
                                styling: 'bootstrap3',
                                shadow: true,
                                delay: 3000
                            });
                        $('#users_to_share_edit option:selected').each(function () {
                            $(this).prop('selected', false);
                        });
                        $('#users_to_share_edit option').each(function () {
                            if (ok_data_for_client_edit.indexOf($(this).prop('value')) >= 0) {
                                $(this).prop('selected', true);
                            }
                        });
                        $('#users_to_share_edit').multiselect('refresh');
                    }
                });
            });
        }

        const sharedUsers = {
            {% for client_obj in data %}
                {% if user.id == client_obj.owner or user.is_staff %}
                    {{ client_obj.id }}: {
                        shares: [
                            {% for user_obj in users %}
                                {% if user.id != user_obj.id and client.owner != user_obj %}
                                    {
                                        label: '{{ user_obj.username }}',
                                        title: '{{ user_obj.username }}',
                                        value: '{{ user_obj.id }}',
                                        selected: {% if user_obj.id in client_obj.shares %}true{% else %}false{% endif %}
                                    },
                                {% endif %}
                            {% endfor %}
                        ],
                        shares_edit: [
                            {% for user_obj in users %}
                                {% if user.id != user_obj.id and client.owner != user_obj %}
                                    {
                                        label: '{{ user_obj.username }}',
                                        title: '{{ user_obj.username }}',
                                        value: '{{ user_obj.id }}',
                                        selected: {% if user_obj.id in client_obj.shares_edit %}true{% else %}false{% endif %}
                                    },
                                {% endif %}
                            {% endfor %}
                        ]
                },
                {% endif %}
            {% endfor %}
        }


        activateButtons();

        $('.multiselect-native-select').addClass('col-3 pr-0');


    </script>
{% endblock %}
