{% extends 'base.html' %}


{% block title %} Login {% endblock %}


{% block content %}

    <div class="right_col" role="main">
        <div class="">

            <div class="login_wrapper">

                <div class="animate form login_form">
                    <section class="login_content">
                        <form class="col-6 text-center" id="formLoginUsers" action="" method="post">{% csrf_token %}
                            <h1>LION LOGIN</h1>
                            <br/>
                            <div>
                                <input type="text" class="form-control" placeholder="Login" name="login" required="" />
                            </div>
                            <br/>
                            <div>
                                <input type="password" class="form-control" placeholder="Password" name="password" required="" />
                            </div>
                            <br/>
                            <div>
                                <button type="submit" value="Submit" class="btn btn-primary submit">Log in</button>
                            </div>

                            <div class="clearfix"></div>
                        </form>
                    </section>
                </div>

            </div>

        </div>
    </div>

{% endblock %}
