<div class="left_col scroll-view">
    <!-- Logo place -->
    <div class="navbar nav_title" style="border: 0;">
        <a href="/" class="site_title"><i class="fas fa-tools"></i> <span>PFX Tools</span></a>
    </div>

</div>
