<div class="nav_menu">
    <nav>
        {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a title="Log out from current account" href="/logout/" class="user-profile">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="user-profile">
                        {{ user.username }}
                    </a>
                </li>
                {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a title="Django Admin page" href="/admin/" class="user-profile">
                            <i class="fas fa-user-shield"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>
</div>
